head{
		background-image: url
	
}


body{
	
	
	background-color:black;
	background-image: url(banner.png);
	background-repeat: no-repeat;

}


body{
	color:white;
	<img src="post.png">
}